<div class="container">
  <div class="card">
    <div class="card-body">
      <form #ToDoForm="ngForm">
        <h4>{{title}} Item</h4>

        <label for="taskName" class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="item.name" id="taskName" name="taskName" required />

        <label class="form-label">Category:</label>
        <select class="form-select" aria-label="category" (change)="categorySelected()" [(ngModel)]="item.categoryId"
          name="categoryId" required>
          <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
        </select>

        <label for="taskDate" class="form-label">Date:</label>
        <input type="date" class="form-control" [(ngModel)]="item.date" name="taskDate" id="taskDate" required>

        <div class="row">
          <div class="col">
            <label for="taskStart" class="form-label">Start Time:</label>
            <input type="time" class="form-control" [(ngModel)]="item.startTime" id="taskStart" name="taskStart"
              placeholder="" required>
          </div>

          <div class="col">
            <label for="taskEnd" class="form-label">End Time:</label>
            <input type="time" class="form-control" [(ngModel)]="item.endTime" id="taskEnd" name="taskEnd"
              placeholder="" required>
          </div>
        </div>

        <h6 *ngFor="let message of errorMessages">{{message}}</h6>
        <br>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" (click)="addBtnClicked()"
            [disabled]="ToDoForm.invalid || ToDoForm.pristine ">{{btnLabel}}</button>
        </div>
      </form>

    </div>
  </div>
</div>