<!-- <h6>{{startTime}} -- {{endTime}}</h6>
<div class="input-group mb-3">
    <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" [(ngModel)]="itemIsChecked"
            (change)="updateStatus()" aria-label="todoitemCheckbox">
    </div>
    <input type="text" class="form-control" aria-label="todoitem" value={{item.name}} readonly>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a routerLink="/edit/{{item.id}}" class="btn btn-secondary" type="button">
            Edit
        </a>
        <button class="btn btn-danger btn-sm" type="button" (click)="deleteBtnClicked()">Delete</button>
    </div>
</div> -->

<label class="list-group-item d-flex gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="" [(ngModel)]="itemIsChecked"
        (change)="updateStatus()" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
        <strong>{{item.name}}</strong>
        <small class="d-block text-muted">
            <svg class="bi me-1" width="1em" height="1em">
                <use xlink:href="#calendar-event" />
            </svg>
            {{startTime}} – {{endTime}}
        </small>
    </span>
    <br>
</label>
<label class="list-group-item d-flex">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a routerLink="/edit/{{item.id}}" class="btn btn-secondary" type="button" >
            Edit
        </a>
        <button class="btn btn-danger btn-sm" type="button" (click)="deleteBtnClicked()">Delete</button>
    </div>
</label>

