<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4>Items</h4>
        </div>

        <div class="col-auto">
          <input type="date" class="form-control" name="filterDate" id="filterDate" [(ngModel)]="dateFilter"
            (input)="filter()">
        </div>

        <div class="col-auto">
          <select class="form-select form-select" aria-label="todo-filter" [(ngModel)]="categoryIdFIlter"
            (change)="filter()">
            <option value="0" selected>All</option>
            <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
          </select>
        </div>

        <hr>

        <div *ngIf="displayItems.length == 0">
          <h6>No to-do's</h6>
        </div>

        <!-- <div *ngIf="displayItems.length > 0">
          <div *ngFor="let item of displayItems">
            <div class="list-group w-auto">
              <todo-item [item]="item" (deleteEvent)="deleteEventHandler($event)"></todo-item>
            </div>
          </div>
        </div> -->

        <div *ngIf="displayItems.length > 0">
          <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    To Do - {{unDone}}
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <div *ngFor="let item of displayItems">
                      <div *ngIf="item.statusId == 1"> 
                        <div class="list-group w-auto">
                          <todo-item [item]="item" (deleteEvent)="deleteEventHandler($event)" (statusChangedEvent)="statusChangedHandler($event)"></todo-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Completed - {{done}}
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <div *ngFor="let item of displayItems">
                      <div *ngIf="item.statusId == 2"> 
                        <div class="list-group w-auto">
                          <todo-item [item]="item" (deleteEvent)="deleteEventHandler($event)" (statusChangedEvent)="statusChangedHandler($event)"></todo-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>